@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    h2 {
        font-size: 18px;
    }

    table {
        font-size: 12px;
    }

    input {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }

    .form-column {
        display: none;
        order: 1;
    }

    .content-column {
        order: 2;
    }

    .btn-primary {
        font-size: 12px;
    }

    .btn-secondary {
        font-size: 12px;
    }

    #filtersHeader {
        display: none;
    }

    #filtersToggle {
        display: block;
    }

    #filterForm {
        display: none;
    }

    datalist {
        display: none;
    }

    .balance {
        font-size: 5vh;
    }

    .income {
        font-size: 5vw;
    }

    .expense {
        font-size: 5vw;
    }

    .title-of-element {
        font-size: 3vh;
    }
}

@media only screen and (min-width: 601px) {

    #filtersHeader {
        display: block;
    }

    #filtersToggle {
        display: none;
    }

    #filterForm {
        display: block;
    }

    datalist {
        display: none;
    }

    .balance {
        font-size: 6vw;
    }


    .income {
        font-size: 2vw;
        padding-left: 3vw;
    }

    .expense {
        font-size: 2vw;
        padding-left: 3vw;
    }

    .title-of-element {
        font-size: 2vw;
    }
}

html, body {
    height: 100%;
}

.container-sizing {
    height: 90%;
    padding: 20px;
}

#balanceDisplayPositive {
    color: forestgreen;
}

#balanceDisplayNegative {
    color: red;
}

#balanceDisplayNeutral {
}

.income {
    color: forestgreen;
    background-color: lightgreen;
}

.expense {
    color: darkred;
    background-color: lightcoral;
}

#chartContainer {
    height: 34vh;
}

.title-box {
    background-color: #212529;
    color: white;
    height: 7vh;
}

.small-table {
    max-height: 130px;
    overflow-y: auto;
    display: block;
}

.small-table-profile {
    max-height: 26vh;
    overflow-y: auto;
    display: block;
}

/* Fix the header */
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* Adjust the layout */
table {
    width: 100%;
}

.pay-button {
    height: 3vh;
    padding: 0;
    margin: 0;
    width: 10vw;
    font-size: 2vh;
}