@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    h2 {
        font-size: 18px;
    }

    table {
        font-size: 12px;
    }

    input {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }

    .form-column {
        display: none;
        order: 1;
    }

    .content-column {
        order: 2;
    }

    .btn-primary {
        font-size: 12px;
    }

    .btn-secondary {
        font-size: 12px;
    }

    #filtersHeader {
        display: none;
    }

    #filtersToggle {
        display: block;
    }

    #filterForm {
        display: none;
    }

    datalist {
        display: none;
    }
}

@media only screen and (min-width: 601px) {

    #filtersHeader {
        display: block;
    }

    #filtersToggle {
        display: none;
    }

    #filterForm {
        display: block;
    }

    datalist {
        display: none;
    }
}