<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Money Management App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/userProfile.js}"></script>
    <script th:inline="javascript">
        window.onload = function () {
            var balanceHistory = [[${firstDiagram}]];
            createFirstDiagram(balanceHistory);
        }
    </script>

    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div th:replace="~{utils/navbar :: navbar}"></div>
<div class="container-fluid container-sizing">
    <div th:if="${userRole == 'ROLE_USER'}" class="row h-100">
        <div class="d-inline col-md-6 h-50">
            <div class="row h-100 justify-content-center p-1">
                <div class="d-flex col-md-12 justify-content-center title-box">
                    <h3 class="title-of-element">Last year resume changes</h3>
                </div>
                <div id="chartContainer">

                </div>
                <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
            </div>
        </div>
        <div class="d-flex col-md-6 justify-content-center align-items-center h-50 ">
            <div class="row h-100 justify-content-center p-1">
                <div class="d-flex col-md-12 justify-content-center title-box">
                    <h3 class="title-of-element">Current balance</h3>
                </div>
                <div class="d-flex col-md-12 justify-content-center">
                    <div th:if="${percentageChange < 0}">
                        <h1 class="balance">
                            <span th:text="${currentBalance}"></span>
                            zł
                        </h1>
                        <h3>
                            <span style="color: red">&#8595;</span>
                            <span id="balanceDisplayNegative" th:text="${percentageChange}"></span>
                            <span style="color: red">%</span>
                        </h3>
                    </div>
                    <div th:if="${percentageChange > 0}">
                        <h1 class="balance">
                            <span th:text="${currentBalance}"></span>
                            zł
                        </h1>
                        <h3>
                            <span style="color: forestgreen">&#8593;</span>
                            <span id="balanceDisplayPositive" th:text="${percentageChange}"></span>
                            <span style="color: forestgreen">%</span>
                        </h3>
                    </div>
                    <h1 class="balance" th:if="${percentageChange == 0}"><span th:text="${currentBalance}"></span></h1>
                </div>
            </div>
        </div>
        <div class="d-inline col-md-6  h-50 ">
            <div class="row h-100 justify-content-center p-1">
                <div class="d-flex col-md-12 justify-content-center title-box">
                    <h3 class="title-of-element">Per period expenses and incomes </h3>
                </div>
                <div class="d-flex col-md-4  justify-content-center align-items-center income">
                    <p>Last Year: +<span th:text="${incomeLastYear}"></span> zł</p>
                </div>
                <div class="d-flex col-md-4  justify-content-center align-items-center income">
                    <p>Last Month: +<span th:text="${incomeLastMonth}"></span> zł</p>
                </div>
                <div class="d-flex col-md-4  justify-content-center align-items-center income">
                    <p>Last Week: +<span th:text="${incomeLastWeek}"></span> zł</p>
                </div>
                <div class="d-flex col-md-4  justify-content-center align-items-center expense">
                    <p>Last Year: <span th:text="${expenseLastYear}"></span> zł</p>
                </div>
                <div class="d-flex col-md-4  justify-content-center align-items-center expense">
                    <p>Last Month: <span th:text="${expenseLastMonth}"></span> zł</p>
                </div>
                <div class="d-flex col-md-4  justify-content-center align-items-center expense">
                    <p>Last Week: <span th:text="${expenseLastWeek}"></span> zł</p>
                </div>
            </div>
        </div>
        <div class="d-inline col-md-6  h-50 justify-content-center ">
            <div class="row h-100 justify-content-center p-1">
                <div class="d-flex col-md-12 justify-content-center title-box">
                    <h3 class="title-of-element">Recent operations</h3>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
