<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Money Management App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/userProfile.js}"></script>
    <script th:inline="javascript">
        window.onload = function () {
            var balanceHistory = [[${firstDiagram}]];
            createFirstDiagram(balanceHistory);
        }
    </script>

    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div th:replace="~{utils/navbar :: navbar}"></div>

<br/><br/>

<div class="container-fluid">
    <div th:if="${userRole == 'ROLE_USER'}" class="row">

        <div class="row">
            <div class="d-inline col-md-12 border border-primary">dsafjlasjdf</div>
        </div>
        <div class="row">
            <div class="d-inline col-md-6 border border-primary">
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
            </div>
            <div class="d-flex justify-content-center align-items-center col-md-6 border border-primary">
                <h1 class="balance" th:if="${percentageChange < 0}">
                    <span th:text="${currentBalance}"></span>
                    <span style="color: red">&#8595;</span>
                    <span id="balanceDisplayNegative" th:text="${percentageChange}"></span>
                    <span style="color: red">%</span>
                </h1>
                <h1 class="balance" th:if="${percentageChange > 0}">
                    <span th:text="${currentBalance}"></span>
                    <span style="color: forestgreen">&#8593;</span>
                    <span id="balanceDisplayPositive" th:text="${percentageChange}"></span>
                    <span style="color: forestgreen">%</span>
                </h1>
                <h1 class="balance" th:if="${percentageChange == 0}"><span th:text="${currentBalance}"></span></h1>
            </div>
        </div>
        <div class="row">
            <div class="d-inline col-md-6 border border-primary">dsafjlasjdf</div>
            <div class="d-inline col-md-6 border border-primary">asdfasdfasd</div>
        </div>
    </div>
</div>

</body>
</html>
